/* Styles.css */

body {
	padding-top: 60px;
}

.highlight {
	background: pink;
	border: solid 1px #555;
}

#scrollerBox {
	position: relative;
	height: 400px;
	overflow: auto;
	border: solid 1px #ccc;
}

